In [1]:
import pandas as pd
import numpy as np

In [2]:
!ls

 Churn_Modelling.csv   federatedlearningiitp.py   server_federated.py
 client_federated.py  'ML Model.ipynb'
 COVID19_data.csv      README.md

In [3]:
df = pd.read_csv('COVID19_data.csv')

In [8]:
df = df.drop(columns=['Unnamed: {}'.format(i) for i in range(21,27)],axis=1)

In [13]:
df = df.drop(columns=['Unnamed: 3','link'],axis=1)

In [15]:
len(df.columns)

19

In [18]:
df.dtypes

id                         int64
case_in_country          float64
reporting date            object
summary                   object
location                  object
country                   object
gender                    object
age                      float64
symptom_onset             object
If_onset_approximated    float64
hosp_visit_date           object
exposure_start            object
exposure_end              object
visiting Wuhan             int64
from Wuhan               float64
death                     object
recovered                 object
symptom                   object
source                    object
dtype: object

In [21]:
df.head(5)

,id,case_in_country,reporting date,summary,location,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom,source
0,1,NaN,1/20/2020,First confirmed imported COVID-19 pneumonia pa...,"Shenzhen, Guangdong",China,male,66.0,01/03/20,0.0,01/11/20,12/29/2019,01/04/20,1,0.0,0,0,NaN,Shenzhen Municipal Health Commission
1,2,NaN,1/20/2020,First confirmed imported COVID-19 pneumonia pa...,Shanghai,China,female,56.0,1/15/2020,0.0,1/15/2020,NaN,01/12/20,0,1.0,0,0,NaN,Official Weibo of Shanghai Municipal Health Co...
2,3,NaN,1/21/2020,First confirmed imported cases in Zhejiang: pa...,Zhejiang,China,male,46.0,01/04/20,0.0,1/17/2020,NaN,01/03/20,0,1.0,0,0,NaN,Health Commission of Zhejiang Province
3,4,NaN,1/21/2020,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,female,60.0,NaN,NaN,1/19/2020,NaN,NaN,1,0.0,0,0,NaN,人民日报官方微博
4,5,NaN,1/21/2020,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,male,58.0,NaN,NaN,1/14/2020,NaN,NaN,0,0.0,0,0,NaN,人民日报官方微博

In [22]:
df.T.apply(lambda x: x.nunique(), axis=1)

id                       1085
case_in_country           197
reporting date             43
summary                   967
location                  156
country                    38
gender                      2
age                        85
symptom_onset              70
If_onset_approximated       2
hosp_visit_date            60
exposure_start             39
exposure_end               52
visiting Wuhan              2
from Wuhan                  2
death                      14
recovered                  32
symptom                   108
source                     85
dtype: int64

In [56]:
allMixed = list(map(str,list(df.symptom.unique())))
# TODO Make a set of all possible symptom and then perform one hot encoding
symptoms= []
for mix in allMixed:
    symptoms+=mix.split(', ')
print(set(symptoms),len(set(symptoms)))

{'high fever', 'nan', 'joint pain', 'tired', 'abdominal pain', 'respiratory distress', 'sputum', 'heavy head', 'myalgia', 'vomiting', 'coughing', 'muscle pain', 'itchy throat', 'nasal discharge', 'chills', 'thirst', 'aching muscles', 'shortness of breath', 'sore body', 'sneeze', 'headache', 'mild fever', 'cough', 'throat discomfort', 'sore throat', 'throat pain', 'physical discomfort', 'reflux', 'feaver', 'cold', 'chill', 'fever', 'muscle aches', 'myalgias', 'chest discomfort', 'flu', 'diarrhea', 'fatigue', 'dyspnea', 'mild cough', 'runny nose', 'difficulty breathing', 'breathlessness', 'pneumonia', 'chest pain', 'loss of appetite', 'difficult in breathing', 'nausea', 'flu symptoms', 'muscle cramps', 'malaise', 'cough with sputum'} 52

In [34]:
df[df.symptom == 'feve\\']

Empty DataFrame
Columns: [id, case_in_country, reporting date, summary, location, country, gender, age, symptom_onset, If_onset_approximated, hosp_visit_date, exposure_start, exposure_end, visiting Wuhan, from Wuhan, death, recovered, symptom, source]
Index: []

In [33]:
df.loc[873,'symptom'] = 'fever'

In [58]:
df.describe()

,id,case_in_country,age,If_onset_approximated,visiting Wuhan,from Wuhan
count,1085.000000,888.000000,843.000000,560.000000,1085.000000,1081.000000
mean,543.000000,48.841216,49.483689,0.042857,0.176959,0.144311
std,313.356825,78.853528,18.255334,0.202716,0.381810,0.351567
min,1.000000,1.000000,0.250000,0.000000,0.000000,0.000000
25%,272.000000,11.000000,35.000000,0.000000,0.000000,0.000000
50%,543.000000,28.000000,51.000000,0.000000,0.000000,0.000000
75%,814.000000,67.250000,64.000000,0.000000,0.000000,0.000000
max,1085.000000,1443.000000,96.000000,1.000000,1.000000,1.000000

In [59]:
df.death.unique()

array(['0', '1', '2/14/2020', '2/26/2020', '2/13/2020', '2/28/2020',
       '2/27/2020', '2/25/2020', '2/23/2020', '2/24/2020', '2/22/2020',
       '02/01/20', '2/19/2020', '2/21/2020'], dtype=object)

In [67]:
df.loc[df['death'] != '0' and df['death'] != '1','death'] = '1'

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [68]:
dataf.to_csv('COVID19_new_data.csv')

In [64]:
!ls

 Churn_Modelling.csv   COVID19_new_data.csv	  README.md
 client_federated.py   federatedlearningiitp.py   server_federated.py
 COVID19_data.csv     'ML Model.ipynb'

In [65]:
dataf.describe()

,id,case_in_country,age,If_onset_approximated,visiting Wuhan,from Wuhan
count,1085.000000,888.000000,843.000000,560.000000,1085.000000,1081.000000
mean,543.000000,48.841216,49.483689,0.042857,0.176959,0.144311
std,313.356825,78.853528,18.255334,0.202716,0.381810,0.351567
min,1.000000,1.000000,0.250000,0.000000,0.000000,0.000000
25%,272.000000,11.000000,35.000000,0.000000,0.000000,0.000000
50%,543.000000,28.000000,51.000000,0.000000,0.000000,0.000000
75%,814.000000,67.250000,64.000000,0.000000,0.000000,0.000000
max,1085.000000,1443.000000,96.000000,1.000000,1.000000,1.000000